
@import "mixin";
@import "var";

body {
  position: relative;
  margin: 0;
}

.b_auth {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  a {
    text-decoration: none;
  }
}

.inner_authentication {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 24px;
  width: 440px;
  height: fit-content;
  background-color: #E9F3FF;

  @include for_phone {
    width: 328px;
    padding: 32px 24px;
  }

  span {
    line-height: 1.5;
  }

  div {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-direction: column;
  }

  h1 {
    margin: 0 0 20px;
    height: 28px;
    font-size: 24px;
    font-weight: 600;
    line-height: unset;
    padding: unset;

    @include for_phone {
      margin: 0 0 16px;
    }
  }

  .title_form {
    justify-content: space-between;
    flex-direction: unset;
  }

  form {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 14px;
    font-weight: 400;

    .reg, .pass_a {
      flex-direction: unset;
    }
    .reg {
      span {
        line-height: unset;
      }
    }

    label, input {
      display: flex;
      justify-content: start;
      align-items: start;
      width: 100%;
      box-sizing: border-box;
    }

    div {
      height: fit-content;
    }

    label {
      height: 30px;
      align-items: start;

      &[hidden] {
        display: none;
      }
    }

    input {
      height: 40px;
      border: 2px solid #d0e1f5;
      border-radius: 12px;
      background-color: white !important;

      &::placeholder {
        color: #CCCCCC;
        opacity: 1;
        font-weight: 400;
      }

      @include for_phone {
        height: 32px;
      }
    }

    input:-webkit-autofill{
      box-shadow: inset 20px 20px 0px 20px white;
      -webkit-text-fill-color: var(--color) !important;
    }


    input:hover {
      border: 2px solid #8dbeff;
    }

    input:focus {
      border: 2px solid #8dbeff!important;
    }

    .item {
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 20px;

        @include for_phone {
          margin-bottom: 8px;
        }
      }

      small {
        display: none;
      }

      &.error_auth {
        small {
          display: flex;
          margin-top: 10px;
        }
      }
    }

    a {
      text-decoration: none;
      display: flex;
      white-space: nowrap;
      width: fit-content;
      color: #187bfa;
    }

    button {
      color: white;
      background-color: #1A81F6;
      border-radius: 24px;
      padding: 12px 24px;
      height: 40px;
      width: fit-content;
      min-width: 88px;
      border: 0;
      font-weight: 600;

      @include for_phone {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
}
.loader {
  /* Размер и толщина линий */
  width: 30px;
  height: 30px;
  border: 5px solid #1A81F6; /* Цвет основного кольца */
  border-bottom-color: white; /* Цвет активной части */

  /* Делаем круглым */
  border-radius: 50%;

  /* Настройка анимации */
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* Описание вращения */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}