@charset "UTF-8";
.b_admin_users {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  /* Стилизация элементов управления */
}
.b_admin_users .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.b_admin_users .users {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.b_admin_users .users .date {
  width: 140px;
  max-width: 140px;
}
.b_admin_users .users .email {
  text-align: left;
  max-width: 300px;
}
.b_admin_users .users .login {
  text-align: left;
  width: 180px;
}
.b_admin_users .users .email {
  width: 200px;
}
.b_admin_users .users .role {
  width: 160px;
}
.b_admin_users .users .role select {
  width: 100%;
}
.b_admin_users .users .ip {
  width: 90px;
}
.b_admin_users .users .activation {
  width: 90px;
}
.b_admin_users .users .activation label {
  position: relative;
}
.b_admin_users .users .activation input {
  cursor: pointer;
}
.b_admin_users .users .activation input:disabled {
  opacity: 1;
  color: unset;
  background-color: #0075dd;
  border-color: #0075dd;
  cursor: initial;
}
.b_admin_users .users .delete {
  width: 100px;
}
.b_admin_users .users .delete button {
  font-size: 11px;
  color: #555;
}
.b_admin_users .users .delete button:hover {
  background: #eee;
}
.b_admin_users .users .geo {
  width: 110px;
}
.b_admin_users .users th {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: 800;
  color: #333;
}
.b_admin_users .users td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
}
.b_admin_users select, .b_admin_users button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
.b_admin_users .delete_inactive {
  background: #eee;
  border-color: #bbb;
}
.b_admin_users .search {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: start;
  align-items: center;
}
.b_admin_users .search form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;
}
.b_admin_users .search label {
  margin-right: 15px;
  font-weight: 500;
  font-size: 20px;
}
.b_admin_users .search input {
  display: flex;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
}
.b_admin_users .line {
  display: flex;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #bbbbbb;
}
.b_admin_users .wrap_show_more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 25px;
}
