@charset "UTF-8";
.b_admin_users {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  /* Стилизация элементов управления */
}
.b_admin_users .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.b_admin_users .users-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.b_admin_users .users-table .date {
  width: 140px;
  max-width: 140px;
}
.b_admin_users .users-table .email {
  text-align: left;
  max-width: 300px;
}
.b_admin_users .users-table .login {
  text-align: left;
  width: 180px;
}
.b_admin_users .users-table .email {
  width: 200px;
}
.b_admin_users .users-table .role {
  width: 160px;
}
.b_admin_users .users-table .role select {
  width: 100%;
}
.b_admin_users .users-table .ip {
  width: 90px;
}
.b_admin_users .users-table .activation {
  width: 90px;
}
.b_admin_users .users-table .activation .wrap_active {
  position: relative;
}
.b_admin_users .users-table .activation button {
  width: 15px;
  height: 15px;
  top: 2px;
  right: calc(50% - 7.5px);
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
}
.b_admin_users .users-table .activation button input {
  cursor: pointer;
}
.b_admin_users .users-table .delete {
  width: 100px;
}
.b_admin_users .users-table .geo {
  width: 110px;
}
.b_admin_users .users-table th {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: 800;
  color: #333;
}
.b_admin_users .users-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
}
.b_admin_users select, .b_admin_users button {
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
.b_admin_users .btn-delete {
  font-size: 11px;
  color: #555;
}
.b_admin_users .btn-delete:hover {
  background: #eee;
}
.b_admin_users .btn-delete-inactive {
  background: #eee;
  border-color: #bbb;
}
