@charset "UTF-8";
body {
  position: relative;
  margin: 0;
}

.b_auth {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.b_auth a {
  text-decoration: none;
}

.inner_authentication {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 24px;
  width: 440px;
  height: fit-content;
  background-color: #E9F3FF;
}
@media (max-width: 767px) {
  .inner_authentication {
    width: 328px;
    padding: 32px 24px;
  }
}
.inner_authentication span {
  line-height: 1.5;
}
.inner_authentication div {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  flex-direction: column;
}
.inner_authentication h1 {
  margin: 0 0 20px;
  height: 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: unset;
  padding: unset;
}
@media (max-width: 767px) {
  .inner_authentication h1 {
    margin: 0 0 16px;
  }
}
.inner_authentication .title_form {
  justify-content: space-between;
  flex-direction: unset;
}
.inner_authentication form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
}
.inner_authentication form .reg, .inner_authentication form .pass_a {
  flex-direction: unset;
}
.inner_authentication form .reg span {
  line-height: unset;
}
.inner_authentication form label, .inner_authentication form input {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}
.inner_authentication form div {
  height: fit-content;
}
.inner_authentication form label {
  height: 30px;
  align-items: start;
}
.inner_authentication form label[hidden] {
  display: none;
}
.inner_authentication form input {
  height: 40px;
  border: 2px solid #d0e1f5;
  border-radius: 12px;
  background-color: white !important;
}
.inner_authentication form input::placeholder {
  color: #CCCCCC;
  opacity: 1;
  font-weight: 400;
}
@media (max-width: 767px) {
  .inner_authentication form input {
    height: 32px;
  }
}
.inner_authentication form input:-webkit-autofill {
  box-shadow: inset 20px 20px 0px 20px white;
  -webkit-text-fill-color: var(--color) !important;
}
.inner_authentication form input:hover {
  border: 2px solid #8dbeff;
}
.inner_authentication form input:focus {
  border: 2px solid #8dbeff !important;
}
.inner_authentication form .item {
  flex-direction: column;
}
.inner_authentication form .item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .inner_authentication form .item:not(:last-child) {
    margin-bottom: 8px;
  }
}
.inner_authentication form .item small {
  display: none;
}
.inner_authentication form .item.error_auth small {
  display: flex;
  margin-top: 10px;
}
.inner_authentication form a {
  text-decoration: none;
  display: flex;
  white-space: nowrap;
  width: fit-content;
  color: #187bfa;
}
.inner_authentication form button {
  color: white;
  background-color: #1A81F6;
  border-radius: 24px;
  padding: 12px 24px;
  height: 40px;
  width: fit-content;
  min-width: 88px;
  border: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .inner_authentication form button {
    width: 100%;
    margin-top: 8px;
  }
}

.loader {
  /* Размер и толщина линий */
  width: 30px;
  height: 30px;
  border: 5px solid #1A81F6; /* Цвет основного кольца */
  border-bottom-color: white; /* Цвет активной части */
  /* Делаем круглым */
  border-radius: 50%;
  /* Настройка анимации */
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* Описание вращения */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.b_auth_btn a {
  text-decoration: none;
  color: inherit;
}
.b_auth_btn .open {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 88px;
  width: fit-content;
  height: 40px;
  background-color: #1A81F6;
  color: white;
  padding: 12px 24px;
  border-radius: 24px;
  margin-left: 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}
.b_auth_btn.open_list .list_profile_options {
  display: flex;
}
.b_auth_btn .inner_avatar {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: 16px;
}
.b_auth_btn .inner_avatar .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  background-color: darkseagreen;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}
.b_auth_btn .list_profile_options {
  position: fixed;
  top: 80px;
  display: none;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  background-color: #e9f2ff;
  color: black;
  padding: 8px 16px;
  border-radius: 16px;
  box-sizing: border-box;
  z-index: 10;
}
@media (max-width: 767px) {
  .b_auth_btn .list_profile_options {
    right: 16px;
  }
}
.b_auth_btn .list_profile_options .item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.b_auth_btn .list_profile_options .item form {
  display: flex;
  width: 100%;
}
.b_auth_btn .list_profile_options .item form .exit {
  margin: unset;
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  cursor: pointer;
}

.b_auth_modal {
  display: none;
}
.b_auth_modal a {
  text-decoration: none;
}
.b_auth_modal .content_modal {
  position: relative;
  z-index: 4;
}
.b_auth_modal .model_fon {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 60%;
  z-index: 2;
}
.b_auth_modal .exit {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;utf8;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNNyA3TDEyIDEyTTEyIDEyTDE3IDE3TTEyIDEyTDcgMTdNMTIgMTJMMTcgNyIgc3Ryb2tlPSIjODlCRkZGIiBzdHJva2Utd2lkdGg9IjEuNiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+DQo8L3N2Zz4NCg==");
  z-index: 4;
  cursor: pointer;
}
.b_auth_modal.open {
  display: flex;
  position: fixed;
  z-index: 8;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.b_auth_modal.open .model_fon {
  display: flex;
}
